@import "tailwindcss";
@import "@jamsrui/theme/premium.css";

@source "../../../packages/components/*/src/**/*.{tsx,ts}";
@source "../../../packages/utils/src/**/*.{tsx,ts}";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(1);
    opacity: 0;
  }
}
