@import "tailwindcss";
@import "@jamsrui/theme/premium.css";

@source "../../../packages/components/*/src/**/*.{tsx,ts}";
@source "../../../packages/utils/src/**/*.{tsx,ts}";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(1);
    opacity: 0;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}

@theme {
  --shadow-sm:
    0px 0px 5px 0px rgba(0, 0, 0, 0.05), 0px 2px 10px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 1px 0px hsla(0, 0%, 100%, 0.15);
  --shadow-md:
    0px 0px 15px 0px rgba(0, 0, 0, 0.06), 0px 2px 30px 0px rgba(0, 0, 0, 0.22),
    inset 0px 0px 1px 0px hsla(0, 0%, 100%, 0.15);
  --shadow-lg:
    0px 0px 30px 0px rgba(0, 0, 0, 0.07), 0px 30px 60px 0px rgba(0, 0, 0, 0.26),
    inset 0px 0px 1px 0px hsla(0, 0%, 100%, 0.15);
}
