@theme {
  /* animations */
  --animate-ripple: ripple 1s linear;
  --animate-progress: progress 1s infinite linear;

  @keyframes progress {
    0% {
      left: -40%;
    }
    100% {
      left: 100%;
    }
  }
}

@theme inline {
  /* Default */
  --color-default: var(--ui-default);
  --color-default-hover: var(--ui-default-hover);
  --color-default-active: var(--ui-default-active);
  --color-default-border: var(--ui-default-border);
  --color-default-subtle: var(--ui-default-subtle);
  --color-default-subtle-hover: var(--ui-default-subtle-hover);
  --color-default-foreground: var(--ui-default-foreground);

  /* Primary */
  --color-primary: var(--ui-primary);
  --color-primary-hover: var(--ui-primary-hover);
  --color-primary-active: var(--ui-primary-active);
  --color-primary-border: var(--ui-primary-border);
  --color-primary-subtle: var(--ui-primary-subtle);
  --color-primary-subtle-hover: var(--ui-primary-subtle-hover);
  --color-primary-foreground: var(--ui-primary-foreground);

  /* Secondary */
  --color-secondary: var(--ui-secondary);
  --color-secondary-hover: var(--ui-secondary-hover);
  --color-secondary-active: var(--ui-secondary-active);
  --color-secondary-border: var(--ui-secondary-border);
  --color-secondary-subtle: var(--ui-secondary-subtle);
  --color-secondary-subtle-hover: var(--ui-secondary-subtle-hover);
  --color-secondary-foreground: var(--ui-secondary-foreground);

  /* Success */
  --color-success: var(--ui-success);
  --color-success-hover: var(--ui-success-hover);
  --color-success-active: var(--ui-success-active);
  --color-success-border: var(--ui-success-border);
  --color-success-subtle: var(--ui-success-subtle);
  --color-success-subtle-hover: var(--ui-success-subtle-hover);
  --color-success-foreground: var(--ui-success-foreground);

  /* Warning */
  --color-warning: var(--ui-warning);
  --color-warning-hover: var(--ui-warning-hover);
  --color-warning-active: var(--ui-warning-active);
  --color-warning-border: var(--ui-warning-border);
  --color-warning-subtle: var(--ui-warning-subtle);
  --color-warning-subtle-hover: var(--ui-warning-subtle-hover);
  --color-warning-foreground: var(--ui-warning-foreground);

  /* Danger */
  --color-danger: var(--ui-danger);
  --color-danger-hover: var(--ui-danger-hover);
  --color-danger-active: var(--ui-danger-active);
  --color-danger-border: var(--ui-danger-border);
  --color-danger-subtle: var(--ui-danger-subtle);
  --color-danger-subtle-hover: var(--ui-danger-subtle-hover);
  --color-danger-foreground: var(--ui-danger-foreground);

  /* Text */
  --color-foreground: var(--ui-foreground-primary);
  --color-foreground-secondary: var(--ui-foreground-secondary);
  --color-foreground-tertiary: var(--ui-foreground-tertiary);
  --color-foreground-quaternary: var(--ui-foreground-quaternary);
  --color-foreground-link: var(--ui-foreground-link);

  /* Background */
  --color-background: var(--ui-background);
  --color-background-secondary: var(--ui-background-secondary);
  --color-background-tertiary: var(--ui-background-tertiary);
  --color-background-quaternary: var(--ui-background-quaternary);

  /* Surface */
  --color-surface: var(--ui-surface-primary);
  --color-surface-secondary: var(--ui-surface-secondary);
  --color-surface-tertiary: var(--ui-surface-tertiary);
  --color-surface-quaternary: var(--ui-surface-quaternary);

  /* Border */
  --color-divider: var(--ui-divider);
  --color-divider-light: var(--ui-divider-light);
  --color-divider-dark: var(--ui-divider-dark);
}

:root,
.light,
[data-theme="light"] {
  color-scheme: light;
  /* Default */
  --ui-default: oklch(37% 0.012 285.8);
  --ui-default-hover: oklch(71.2% 0.013 286.1);
  --ui-default-active: oklch(27.4% 0.005 286);
  --ui-default-border: oklch(71.2% 0.013 286.1);
  --ui-default-subtle: oklch(87.1% 0.005 286.3);

  /* Primary */
  --ui-primary: oklch(54.6% 0.215 262.9);
  --ui-primary-hover: oklch(62.3% 0.188 259.8);
  --ui-primary-active: oklch(48.8% 0.217 264.4);
  --ui-primary-border: oklch(88.2% 0.057 254.1);
  --ui-primary-subtle: oklch(97% 0.014 254.6);

  /* Secondary */
  --ui-secondary: oklch(54.1% 0.247 293);
  --ui-secondary-hover: oklch(60.6% 0.219 292.7);
  --ui-secondary-active: oklch(49.1% 0.241 292.6);
  --ui-secondary-border: oklch(89.4% 0.055 293.3);
  --ui-secondary-subtle: oklch(96.9% 0.016 293.8);

  /* Success */
  --ui-success: oklch(62.7% 0.17 149.2);
  --ui-success-hover: oklch(72.3% 0.192 149.6);
  --ui-success-active: oklch(52.7% 0.137 150.1);
  --ui-success-border: oklch(92.5% 0.081 156);
  --ui-success-subtle: oklch(98.2% 0.018 155.8);

  /* Warning */
  --ui-warning: oklch(79.5% 0.162 86);
  --ui-warning-hover: oklch(86.1% 0.173 91.9);
  --ui-warning-active: oklch(68.1% 0.142 75.8);
  --ui-warning-border: oklch(94.5% 0.124 101.5);
  --ui-warning-subtle: oklch(98.7% 0.026 102.2);

  /* Danger */
  --ui-danger: oklch(57.7% 0.215 27.3);
  --ui-danger-hover: oklch(63.7% 0.208 25.3);
  --ui-danger-active: oklch(50.5% 0.19 27.5);
  --ui-danger-border: oklch(88.5% 0.059 18.3);
  --ui-danger-subtle: oklch(97.1% 0.013 17.4);

  /* Text */
  --ui-foreground: oklch(21% 0.006 285.9);
  --ui-foreground-secondary: oklch(55.2% 0.014 285.9);
  --ui-foreground-tertiary: oklch(71.2% 0.013 286.1);
  --ui-foreground-quaternary: oklch(87.1% 0.005 286.3);
  --ui-foreground-link: oklch(54.6% 0.215 262.9);

  /* Background */
  --ui-background: oklch(98.5% 0 0);
  --ui-background-secondary: oklch(100% 0 0);
  --ui-background-tertiary: oklch(100% 0 0);
  --ui-background-quaternary: oklch(100% 0 0);

  /* Gray */
  --ui-surface-primary: oklch(44.2% 0.015 285.8);
  --ui-surface-secondary: oklch(55.2% 0.014 285.9);
  --ui-surface-tertiary: oklch(71.2% 0.013 286.1);
  --ui-surface-quaternary: oklch(87.1% 0.005 286.3);

  /* Borders */
  --ui-divider: oklch(21% 0.006 285.9 / 0.1176);
  --ui-divider-light: oklch(21% 0.006 285.9 / 0.0588);
  --ui-divider-dark: oklch(21% 0.006 285.9 / 0.0588);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Default */
  --ui-default: oklch(37% 0.012 285.8);
  --ui-default-hover: oklch(27.4% 0.005 286);
  --ui-default-active: oklch(27.4% 0.005 286);
  --ui-default-border: oklch(55.2% 0.014 285.9);
  --ui-default-subtle: #101012;
  --ui-default-subtle-hover: #131315;
  --ui-default-foreground: oklch(100% 0 0);

  /* Primary */
  --ui-primary: oklch(56.7% 0.209 257.9);
  --ui-primary-hover: oklch(49.2% 0.18 257.7);
  --ui-primary-active: oklch(48.8% 0.217 264.4);
  --ui-primary-border: oklch(37.9% 0.138 265.5);
  --ui-primary-subtle: #000e1f;
  /* --ui-primary-subtle: #001124; */
  --ui-primary-subtle-hover: #000b18;
  --ui-primary-foreground: oklch(100% 0 0);

  /* Secondary */
  --ui-secondary: oklch(57.7% 0.192 304);
  --ui-secondary-hover: oklch(48.8% 0.225 300.5);
  --ui-secondary-active: oklch(49.1% 0.241 292.6);
  --ui-secondary-border: oklch(38% 0.178 293.7);
  --ui-secondary-subtle: #160c20;
  --ui-secondary-subtle-hover: #0f0815;
  --ui-secondary-foreground: oklch(100% 0 0);

  /* Success */
  --ui-success: oklch(73.3% 0.193 150.8);
  --ui-success-hover: oklch(62.2% 0.163 151);
  --ui-success-active: oklch(52.7% 0.137 150.1);
  --ui-success-border: oklch(39.3% 0.09 152.5);
  --ui-success-subtle: #031b0e;
  /* --ui-success-subtle: #041e0f; */
  --ui-success-subtle-hover: #02140a;
  --ui-success-foreground: oklch(0% 0 0);

  /* Warning */
  --ui-warning: oklch(78.2% 0.158 72.3);
  --ui-warning-hover: oklch(66.3% 0.133 72.6);
  --ui-warning-active: oklch(68.1% 0.142 75.8);
  --ui-warning-border: oklch(42.1% 0.09 57.7);
  --ui-warning-subtle: #1d1301;
  /* --ui-warning-subtle: #251906; */
  --ui-warning-subtle-hover: #181004;
  --ui-warning-foreground: oklch(0% 0 0);

  /* Danger */
  --ui-danger: oklch(61.9% 0.242 11.3);
  --ui-danger-hover: oklch(52.4% 0.204 10.7);
  --ui-danger-active: oklch(50.5% 0.19 27.5);
  --ui-danger-border: oklch(39.6% 0.133 25.7);
  --ui-danger-subtle: #24030e;
  --ui-danger-subtle-hover: #18020a;
  --ui-danger-foreground: oklch(100% 0 0);

  /* Text */
  --ui-foreground-primary: oklch(96.7% 0.001 286.4);
  --ui-foreground-secondary: oklch(71.2% 0.013 286.1);
  --ui-foreground-tertiary: oklch(55.2% 0.014 285.9);
  --ui-foreground-quaternary: oklch(44.2% 0.015 285.8);
  --ui-foreground-link: oklch(54.6% 0.215 262.9);

  /* Background */
  --ui-background: oklch(14.1% 0.004 285.8);
  --ui-background-secondary: oklch(21% 0.006 285.9);
  --ui-background-tertiary: oklch(27.4% 0.005 286);
  --ui-background-quaternary: oklch(37% 0.012 285.8);

  /* Surface */
  --ui-surface-primary: oklch(21% 0.006 285.9);
  --ui-surface-secondary: oklch(27.4% 0.005 286);
  --ui-surface-tertiary: oklch(37% 0.012 285.8);
  --ui-surface-quaternary: oklch(37% 0.012 285.8);

  /* Stroke */
  --ui-divider: oklch(44.2% 0.015 285.8 / 0.3176);
  --ui-divider-light: oklch(44.2% 0.015 285.8 / 0.5176);
  --ui-divider-dark: oklch(44.2% 0.015 285.8 / 0.5176);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

:root,
html,
body {
  @apply bg-background text-foreground;
}

/*  utility */
@utility z-backdrop {
  z-index: 98;
}
@utility z-popover {
  z-index: 99;
}
@utility z-dialog {
  z-index: 99;
}
@utility z-header {
  z-index: 60;
}
@utility z-drawer {
  z-index: 60;
}

/*  variants */

@utility rounded-inherit {
  border-radius: inherit;
}

@custom-variant dark (&:where(.dark, .dark *,[data-theme="dark"]));
@custom-variant light (&:where(.light, .light *,[data-theme="light"]));

@custom-variant uig-has-start-content (&:is(:where(.group[data-has-start-content=true]) &));
@custom-variant uig-has-end-content (&:is(:where(.group[data-has-end-content=true]) &));
@custom-variant uig-has-label (&:is(:where(.group[data-has-label=true]) &));

@custom-variant ui-hover (&:not(:disabled):hover);
@custom-variant uig-hover (&:is(:where(.group[data-hovered=true]) &));

@custom-variant ui-selected (&[data-selected=true]);
@custom-variant uig-selected (&:is(:where(.group[data-selected=true]) &));

@custom-variant ui-checked (&[data-checked=true]);
@custom-variant uig-checked (&:is(:where(.group[data-checked=true]) &));

@custom-variant ui-focus (&[data-focused=true]);
@custom-variant uig-focus (&:is(:where(.group[data-focused=true]) &));

@custom-variant ui-pressed (&[data-pressed=true]);
@custom-variant uig-pressed (&:is(:where(.group[data-pressed=true]) &));

@custom-variant ui-active (&[data-active=true]);
@custom-variant uig-active (&:is(:where(.group[data-active=true]) &));

@custom-variant ui-open (&[data-open=true]);
@custom-variant uig-open (&:is(:where(.group[data-open=true]) &));

@custom-variant ui-interactive (&[data-interactive=true]);
@custom-variant uig-interactive (&:is(:where(.group[data-interactive=true]) &));

@custom-variant ui-loaded (&[data-loaded=true]);

@custom-variant ui-filled-within (&[data-filled-within=true]);
@custom-variant uig-filled-within (&:is(:where(.group[data-filled-within=true]) &));

@custom-variant ui-focus-visible (&[data-focus-visible=true]);

@custom-variant ui-readonly (&[data-readonly=true]);
@custom-variant uig-readonly (&:is(:where(.group[data-readonly=true]) &));

@custom-variant ui-disabled (&[data-disabled=true]);
@custom-variant uig-disabled (&:is(:where(.group[data-disabled=true]) &));

@custom-variant ui-invalid (&[data-invalid=true]);
@custom-variant uig-invalid (&:is(:where(.group[data-invalid=true]) &));
