@theme inline {
  /* Default */
  --color-default: var(--ui-default);
  --color-default-hover: var(--ui-default-hover);
  --color-default-active: var(--ui-default-active);
  --color-default-stroke: var(--ui-default-stroke);
  --color-default-fill: var(--ui-default-fill);
  --color-default-foreground: var(--ui-default-foreground);

  /* Primary */
  --color-primary: var(--ui-primary);
  --color-primary-hover: var(--ui-primary-hover);
  --color-primary-active: var(--ui-primary-active);
  --color-primary-stroke: var(--ui-primary-stroke);
  --color-primary-fill: var(--ui-primary-fill);
  --color-primary-foreground: var(--ui-primary-foreground);

  /* Secondary */
  --color-secondary: var(--ui-secondary);
  --color-secondary-hover: var(--ui-secondary-hover);
  --color-secondary-active: var(--ui-secondary-active);
  --color-secondary-stroke: var(--ui-secondary-stroke);
  --color-secondary-fill: var(--ui-secondary-fill);
  --color-secondary-foreground: var(--ui-secondary-foreground);

  /* Success */
  --color-success: var(--ui-success);
  --color-success-hover: var(--ui-success-hover);
  --color-success-active: var(--ui-success-active);
  --color-success-stroke: var(--ui-success-stroke);
  --color-success-fill: var(--ui-success-fill);
  --color-success-foreground: var(--ui-success-foreground);

  /* Warning */
  --color-warning: var(--ui-warning);
  --color-warning-hover: var(--ui-warning-hover);
  --color-warning-active: var(--ui-warning-active);
  --color-warning-stroke: var(--ui-warning-stroke);
  --color-warning-fill: var(--ui-warning-fill);
  --color-warning-foreground: var(--ui-warning-foreground);

  /* Danger */
  --color-danger: var(--ui-danger);
  --color-danger-hover: var(--ui-danger-hover);
  --color-danger-active: var(--ui-danger-active);
  --color-danger-stroke: var(--ui-danger-stroke);
  --color-danger-fill: var(--ui-danger-fill);
  --color-danger-foreground: var(--ui-danger-foreground);

  /* Text */
  --color-foreground-primary: var(--ui-foreground-primary);
  --color-foreground-secondary: var(--ui-foreground-secondary);
  --color-foreground-tertiary: var(--ui-foreground-tertiary);
  --color-foreground-quaternary: var(--ui-foreground-quaternary);

  /* Background */
  --color-background-primary: var(--ui-background-primary);
  --color-background-secondary: var(--ui-background-secondary);
  --color-background-tertiary: var(--ui-background-tertiary);
  --color-background-quaternary: var(--ui-background-quaternary);

  /* Gray */
  --color-gray-primary: var(--ui-gray-primary);
  --color-gray-secondary: var(--ui-gray-secondary);
  --color-gray-tertiary: var(--ui-gray-tertiary);
  --color-gray-quaternary: var(--ui-gray-quaternary);

  /* Fill */
  --color-fill-primary: var(--ui-fill-primary);
  --color-fill-secondary: var(--ui-fill-secondary);
  --color-fill-tertiary: var(--ui-fill-tertiary);
  --color-fill-quaternary: var(--ui-fill-quaternary);

  /* Stroke */
  --color-stroke-primary: var(--ui-stroke-primary);
  --color-stroke-secondary: var(--ui-stroke-secondary);
}

:root,
.light,
[data-theme="light"] {
  /* Default */
  --ui-default: oklch(37% 0.012 285.8);
  --ui-default-hover: oklch(71.2% 0.013 286.1);
  --ui-default-active: oklch(27.4% 0.005 286);
  --ui-default-stroke: oklch(71.2% 0.013 286.1);
  --ui-default-fill: oklch(87.1% 0.005 286.3);

  /* Primary */
  --ui-primary: oklch(54.6% 0.215 262.9);
  --ui-primary-hover: oklch(62.3% 0.188 259.8);
  --ui-primary-active: oklch(48.8% 0.217 264.4);
  --ui-primary-stroke: oklch(88.2% 0.057 254.1);
  --ui-primary-fill: oklch(97% 0.014 254.6);

  /* Secondary */
  --ui-secondary: oklch(54.1% 0.247 293);
  --ui-secondary-hover: oklch(60.6% 0.219 292.7);
  --ui-secondary-active: oklch(49.1% 0.241 292.6);
  --ui-secondary-stroke: oklch(89.4% 0.055 293.3);
  --ui-secondary-fill: oklch(96.9% 0.016 293.8);

  /* Success */
  --ui-success: oklch(62.7% 0.17 149.2);
  --ui-success-hover: oklch(72.3% 0.192 149.6);
  --ui-success-active: oklch(52.7% 0.137 150.1);
  --ui-success-stroke: oklch(92.5% 0.081 156);
  --ui-success-fill: oklch(98.2% 0.018 155.8);

  /* Warning */
  --ui-warning: oklch(79.5% 0.162 86);
  --ui-warning-hover: oklch(86.1% 0.173 91.9);
  --ui-warning-active: oklch(68.1% 0.142 75.8);
  --ui-warning-stroke: oklch(94.5% 0.124 101.5);
  --ui-warning-fill: oklch(98.7% 0.026 102.2);

  /* Danger */
  --ui-danger: oklch(57.7% 0.215 27.3);
  --ui-danger-hover: oklch(63.7% 0.208 25.3);
  --ui-danger-active: oklch(50.5% 0.19 27.5);
  --ui-danger-stroke: oklch(88.5% 0.059 18.3);
  --ui-danger-fill: oklch(97.1% 0.013 17.4);

  /* Text */
  --ui-foreground-primary: oklch(21% 0.006 285.9);
  --ui-foreground-secondary: oklch(55.2% 0.014 285.9);
  --ui-foreground-tertiary: oklch(71.2% 0.013 286.1);
  --ui-foreground-quaternary: oklch(87.1% 0.005 286.3);

  /* Background */
  --ui-background-primary: oklch(98.5% 0 0);
  --ui-background-secondary: oklch(100% 0 0);
  --ui-background-tertiary: oklch(100% 0 0);
  --ui-background-quaternary: oklch(100% 0 0);

  /* Gray */
  --ui-gray-primary: oklch(44.2% 0.015 285.8);
  --ui-gray-secondary: oklch(55.2% 0.014 285.9);
  --ui-gray-tertiary: oklch(71.2% 0.013 286.1);
  --ui-gray-quaternary: oklch(87.1% 0.005 286.3);

  /* Fill */
  --ui-fill-primary: oklch(21% 0.006 285.9 / 0.1569);
  --ui-fill-secondary: oklch(21% 0.006 285.9 / 0.0784);
  --ui-fill-tertiary: oklch(21% 0.006 285.9 / 0.0392);
  --ui-fill-quaternary: oklch(21% 0.006 285.9 / 0.0196);

  /* Stroke */
  --ui-stroke-primary: oklch(21% 0.006 285.9 / 0.1176);
  --ui-stroke-secondary: oklch(21% 0.006 285.9 / 0.0588);
}

.dark,
[data-theme="dark"] {
  /* Default */
  --ui-default: oklch(37% 0.012 285.8);
  --ui-default-hover: oklch(71.2% 0.013 286.1);
  --ui-default-active: oklch(27.4% 0.005 286);
  --ui-default-stroke: oklch(55.2% 0.014 285.9);
  --ui-default-fill: oklch(21% 0.006 285.9);
  --ui-default-foreground: oklch(100% 0 0);

  /* Primary */
  --ui-primary: oklch(54.6% 0.215 262.9);
  --ui-primary-hover: oklch(62.3% 0.188 259.8);
  --ui-primary-active: oklch(48.8% 0.217 264.4);
  --ui-primary-stroke: oklch(37.9% 0.138 265.5);
  --ui-primary-fill: oklch(28.2% 0.087 267.9);
  --ui-primary-foreground: oklch(100% 0 0);

  /* Secondary */
  --ui-secondary: oklch(54.1% 0.247 293);
  --ui-secondary-hover: oklch(60.6% 0.219 292.7);
  --ui-secondary-active: oklch(49.1% 0.241 292.6);
  --ui-secondary-stroke: oklch(38% 0.178 293.7);
  --ui-secondary-fill: oklch(28.3% 0.135 291.1);
  --ui-secondary-foreground: oklch(100% 0 0);

  /* Success */
  --ui-success: oklch(62.7% 0.17 149.2);
  --ui-success-hover: oklch(72.3% 0.192 149.6);
  --ui-success-active: oklch(52.7% 0.137 150.1);
  --ui-success-stroke: oklch(39.3% 0.09 152.5);
  --ui-success-fill: oklch(26.6% 0.063 152.9);
  --ui-success-foreground: oklch(100% 0 0);

  /* Warning */
  --ui-warning: oklch(79.5% 0.162 86);
  --ui-warning-hover: oklch(86.1% 0.173 91.9);
  --ui-warning-active: oklch(68.1% 0.142 75.8);
  --ui-warning-stroke: oklch(42.1% 0.09 57.7);
  --ui-warning-fill: oklch(28.6% 0.064 53.8);
  --ui-success-foreground: oklch(100% 0 0);

  /* Danger */
  --ui-danger: oklch(57.7% 0.215 27.3);
  --ui-danger-hover: oklch(63.7% 0.208 25.3);
  --ui-danger-active: oklch(50.5% 0.19 27.5);
  --ui-danger-stroke: oklch(39.6% 0.133 25.7);
  --ui-danger-fill: oklch(25.8% 0.089 26);
  --ui-danger-foreground: oklch(100% 0 0);

  /* Text */
  --ui-foreground-primary: oklch(96.7% 0.001 286.4);
  --ui-foreground-secondary: oklch(71.2% 0.013 286.1);
  --ui-foreground-tertiary: oklch(55.2% 0.014 285.9);
  --ui-foreground-quaternary: oklch(44.2% 0.015 285.8);

  /* Background */
  --ui-background-primary: oklch(14.1% 0.004 285.8);
  --ui-background-secondary: oklch(21% 0.006 285.9);
  --ui-background-tertiary: oklch(27.4% 0.005 286);
  --ui-background-quaternary: oklch(37% 0.012 285.8);

  /* Gray */
  --ui-gray-primary: oklch(71.2% 0.013 286.1);
  --ui-gray-secondary: oklch(55.2% 0.014 285.9);
  --ui-gray-tertiary: oklch(44.2% 0.015 285.8);
  --ui-gray-quaternary: oklch(37% 0.012 285.8);

  /* Fill */
  --ui-fill-primary: oklch(100% 0 0 / 0.1569);
  --ui-fill-secondary: oklch(100% 0 0 / 0.0784);
  --ui-fill-tertiary: oklch(100% 0 0 / 0.0392);
  --ui-fill-quaternary: oklch(100% 0 0 / 0.0196);

  /* Stroke */
  --ui-stroke-primary: oklch(44.2% 0.015 285.8 / 0.3176);
  --ui-stroke-secondary: oklch(44.2% 0.015 285.8 / 0.3176);
}

:root,
html,
body {
  @apply bg-background-primary text-foreground-primary;
}



/*  utility */
@utility z-backdrop {
  z-index: 98;
}
@utility z-popover {
  z-index: 99;
}
@utility z-dialog {
  z-index: 99;
}
@utility z-header {
  z-index: 60;
}
@utility z-drawer {
  z-index: 60;
}

/*  variants */

@utility rounded-inherit {
  border-radius: inherit;
}

@custom-variant dark (&:where(.dark, .dark *,[data-theme="dark"]));
@custom-variant light (&:where(.light, .light *,[data-theme="light"]));

@custom-variant uig-has-start-content (&:is(:where(.group[data-has-start-content=true]) &));
@custom-variant uig-has-end-content (&:is(:where(.group[data-has-end-content=true]) &));
@custom-variant uig-has-label (&:is(:where(.group[data-has-label=true]) &));

@custom-variant ui-hover (&:not(:disabled):hover);
@custom-variant uig-hover (&:is(:where(.group[data-hovered=true]) &));

@custom-variant ui-selected (&[data-selected=true]);
@custom-variant uig-selected (&:is(:where(.group[data-selected=true]) &));

@custom-variant ui-checked (&[data-checked=true]);
@custom-variant uig-checked (&:is(:where(.group[data-checked=true]) &));

@custom-variant ui-focus (&[data-focused=true]);
@custom-variant uig-focus (&:is(:where(.group[data-focused=true]) &));

@custom-variant ui-pressed (&[data-pressed=true]);
@custom-variant uig-pressed (&:is(:where(.group[data-pressed=true]) &));

@custom-variant ui-active (&[data-active=true]);
@custom-variant uig-active (&:is(:where(.group[data-active=true]) &));

@custom-variant ui-open (&[data-open=true]);
@custom-variant uig-open (&:is(:where(.group[data-open=true]) &));

@custom-variant ui-interactive (&[data-interactive=true]);
@custom-variant uig-interactive (&:is(:where(.group[data-interactive=true]) &));

@custom-variant ui-loaded (&[data-loaded=true]);

@custom-variant ui-filled-within (&[data-filled-within=true]);
@custom-variant uig-filled-within (&:is(:where(.group[data-filled-within=true]) &));

@custom-variant ui-focus-visible (&[data-focus-visible=true]);

@custom-variant ui-readonly (&[data-readonly=true]);
@custom-variant uig-readonly (&:is(:where(.group[data-readonly=true]) &));

@custom-variant ui-disabled (&[data-disabled=true]);
@custom-variant uig-disabled (&:is(:where(.group[data-disabled=true]) &));
