@import "tailwindcss";
@import "@jamsrui/theme/styles.css";

@source "../../../packages/components/*/src/**/*.{tsx,ts}";

html {
  @apply text-foreground bg-background;
}

.debug,
.debug > * {
  outline: 1px solid red;
}

body,
.docs-story {
  background: #000;
}
